function Dive.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Random.new 0
pop this 6
push constant 3
call Array.new 1
pop this 1
push constant 0
push this 1
add
call Platform.new 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
call Platform.new 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
call Platform.new 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
call Dive.reset 1
pop temp 0
push pointer 0
return
function Dive.dispose 0
push argument 0
pop pointer 0
push this 6
call Random.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Dive.start 0
push argument 0
pop pointer 0
label WHILE_EXP0
push this 2
not
not
if-goto WHILE_END0
push pointer 0
call Dive.tick 1
pop temp 0
push this 5
push constant 1
add
pop this 5
push this 4
push constant 1
sub
pop this 4
push this 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Dive.advance 1
pop temp 0
label IF_FALSE0
push this 3
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Dive.advance 0
push argument 0
pop pointer 0
push this 3
push constant 10
sub
pop this 3
push constant 1000
pop this 4
push constant 0
return
function Dive.tick 3
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 3
lt
not
if-goto WHILE_END0
push local 1
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 0
call Platform.getRow 1
push constant 1
sub
pop local 2
push local 2
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 6
call Random.next 1
call Platform.setLeftGap 2
pop temp 0
push local 0
push this 6
call Random.next 1
call Platform.setRightGap 2
pop temp 0
push local 0
push constant 17
call Platform.setRow 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push local 2
call Platform.setRow 2
pop temp 0
push local 2
push constant 16
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 0
call Dive.drawPlatform 2
pop temp 0
label IF_FALSE1
label IF_END0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Dive.drawPlatform 6
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
call Platform.getRow 1
push constant 16
call Math.multiply 2
pop local 0
push local 0
push constant 15
add
pop local 1
push constant 0
push local 0
push constant 511
push local 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
call Platform.getLeftGap 1
pop local 4
push local 4
push constant 4
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
push constant 64
call Math.multiply 2
pop local 2
push local 2
push constant 63
add
pop local 3
push local 2
push local 0
push local 3
push local 1
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push argument 1
call Platform.getRightGap 1
pop local 5
push local 5
push constant 4
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 256
push local 5
push constant 64
call Math.multiply 2
add
pop local 2
push local 2
push constant 63
add
pop local 3
push local 2
push local 0
push local 3
push local 1
call Screen.drawRectangle 4
pop temp 0
goto IF_END1
label IF_FALSE1
push local 4
push constant 4
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push constant 3
call Platform.setRightGap 2
pop temp 0
push constant 3
pop local 5
push constant 256
push local 5
push constant 64
call Math.multiply 2
add
pop local 2
push local 2
push constant 63
add
pop local 3
push local 2
push local 0
push local 3
push local 1
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
label IF_END1
push constant 0
return
function Dive.reset 1
push argument 0
pop pointer 0
push constant 0
pop this 2
push constant 250
pop this 3
push constant 0
pop this 5
push constant 1000
pop this 4
push constant 0
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push this 6
call Random.next 1
call Platform.setLeftGap 2
pop temp 0
push local 0
push this 6
call Random.next 1
call Platform.setRightGap 2
pop temp 0
push local 0
push constant 12
call Platform.setRow 2
pop temp 0
push constant 1
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push this 6
call Random.next 1
call Platform.setLeftGap 2
pop temp 0
push local 0
push this 6
call Random.next 1
call Platform.setRightGap 2
pop temp 0
push local 0
push constant 18
call Platform.setRow 2
pop temp 0
push constant 2
push this 1
add
pop pointer 1
push that 0
pop local 0
push local 0
push this 6
call Random.next 1
call Platform.setLeftGap 2
pop temp 0
push local 0
push this 6
call Random.next 1
call Platform.setRightGap 2
pop temp 0
push local 0
push constant 24
call Platform.setRow 2
pop temp 0
push constant 0
return
